// Some defaults to start out with
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7BC1A9;
}

h1,
h2,
h3 {
 color: #222222;   
}

@import "./song";
@import "./player";
