// Some defaults to start out with
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: #7BC1A9;
}

h1,
h2 {
    color: #170c09;   
}
h3,
h4 {
    color: #170c09;   
    font-weight: 400;
}

body {
    font-family: 'Roboto Mono', monospace;
}

@import "./song";
@import "./player";
@import "./library";
